.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    min-height: 88vh;
    gap: 15px;
}
.box{
    display: flex;
    align-items: start;
}
.cacaNiquel{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    background: rgb(255, 230, 0);
    padding: 20px;
    border-radius: 15px;
    margin: 15px;
    z-index: 2;
}
.cacaNiquel::before{
    content: '';
    position: absolute;

    background: rgb(255, 166, 0);
    width: 100%;
    height: 100%;
    padding: 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    z-index: -1;
}
.tela{
    display: flex;
    justify-content: center;
    align-items: center;

    background: white;
}
.tela::before{
    content: '';
    position: absolute;

    background: rgb(255, 230, 0);
    width: 100%;
    height: 100%;
    padding: 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    z-index: -1;
}
table{
    border-collapse: collapse;
    border-radius: 10px;
}
table th{
    position: relative;
    text-align: center;

    border: solid 10px rgb(41, 41, 41);
    font-size: 50px;
    width: 110px;
    height: 150px;
}
table th span{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    color: rgb(255, 0, 0);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
table th img{
    width: 70px;
    height: 70px;
}
.boxAlavanca{
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    position: relative;

    height: 230px;
}
#btnSorteio{
    cursor: pointer;
    border: none;
    color: black;
    background: red;
    font-size: 18px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.camada{
    position: absolute;

    width: 100%;
    height: 100%;
    z-index: -1;
}
.cabo{
    position: absolute;
    background: gray;
    width: 10px;
    height: 90%;
    bottom: 0;
    z-index: -1;
}
.base{
    display: flex;
    justify-content: center;
    align-items: center;

    background: rgb(255, 166, 0);
    width: 70px;
    height: 70px;
}
.btnAptRap{
    z-index: 3;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: rgb(138, 117, 0);
    box-shadow: 0 0 5px black;
    border: none;
    cursor: pointer;
}
.btnAptRap:hover{
    background: rgb(255, 217, 0);
    box-shadow: 0 0 15px yellow;
    transition: .3s;
}
.base i{
    color: black;
}
.btnEcabo{
    display: flex;
    justify-content: center;
    position: absolute;
    height: 100%;
}
.btnEcabo.ativo {
    /*animation: alavanca 1s;*/
    rotate: 20deg;
    transition: .2s;
    z-index: -1;
}
.ativadoApostaRapida{
    background: rgb(255, 217, 0);
    box-shadow: 0 0 5px black;
}
@keyframes alavanca {
    from{
        transform: translateX(0px) translateY(0px) rotate(20deg);
    }
    to{
        transform: translateX(0) translateY(0) rotate(0deg);
    }
}