@import url('https://fonts.cdnfonts.com/css/digital-numbers');

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    gap: 50px;
    height: 88vh;
}
.botoes{
    display: flex;
    justify-content: center;
    align-items: end;

    gap: 25px;
}
.botoes button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    cursor: pointer;
    border: none;
    width: 80px;
    height: 50px;
    transition: .05s ease;
}
.botoes button::before{
    content: '';
    position: absolute;
    
    background: #333333;
    height: 20px;
    width: 120%;
    bottom: 0;
}
.botoes #startBtn{
    background: #4caf50;
}
.botoes #pauseBtn{
    background: #ff9800;
}
.botoes #resetBtn{
    background: #f44336;
}
.botoes button:active{
    height: 40px;
}
.cronometro{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    background: #17222b;
    padding: 35px;
    border-radius: 30px;
    box-shadow: 0 0 15px rgb(0, 0, 0) inset;
}
.cronometro::before{
    content: '';
    position: absolute;
    
    background: rgb(255, 217, 0);
    height: 100%;
    width: 100%;
    padding: 43px;
    border-radius: 65px;
    z-index: -1;
}
.cronometro::after{
    content: '';
    position: absolute;
    
    box-shadow: 0 0 15px #000000;
    background: linear-gradient(to bottom, rgb(255, 217, 0) 60%, rgb(255, 174, 0));
    height: 100%;
    width: 100%;
    padding: 50px;
    border-radius: 72px;
    z-index: -2;
}
#display{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    font-family: 'Digital Numbers', sans-serif;
    color: #0c1318;
    background: #77b990;
    border: solid 18px #414141;
    box-shadow: 0 0 15px #000000 inset;
    border-radius: 20px;
    font-size: 40px;
    width: 330px;
    height: 110px;
    z-index: 2;
}
.cronometro .detalhe{
    position: absolute;
    
    box-shadow: 0 0 15px #000000;
    background: linear-gradient(to bottom, #414141 60%, #333333);
    height: 118px;
    width: 338px;
    border-radius: 24px;
    z-index: 1;
}