* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 88vh;
}
.box{
    width: 800px;
    height: 200px;
}
.box img{
    float: left;
    cursor: pointer;
    width: 200px;
    height: 200px;
}
.box:hover > :not(:hover) {
    filter: blur(4px);
    transition: 0.5s;
}
.box img:hover {
    position: relative;
    
    scale: 1.1;
    transition: 0.5s;
    z-index: 1;
}
