.container{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 88vh;
    gap: 150px;
    --fundoCard: rgb(152, 255, 152);
    --colorTxtCard: rgb(0, 128, 0);
}
.boxGame, .boxHistorico{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

    box-shadow: 0 0 15px black inset;
    background: rgb(21, 21, 21);
    padding: 25px;
    border-radius: 20px;
    gap: 25px;
    width: 265px;
    height: 200px;
}
.boxGame::before, .boxHistorico::before{
    content: '';
    position: absolute;

    background: rgb(36, 36, 36);
    height: 100%;
    width: 100%;
    padding: 40px;
    border-radius: 40px;
    z-index: -1;
}
.boxGame::after{
    content: '';
    position: absolute;

    background: linear-gradient(-45deg, #4099ff, #eeff00);
    height: 100%;
    width: 100%;
    padding: 43px;
    z-index: -2;
    border-radius: 43px;
}
.boxHistorico::after{
    content: '';
    position: absolute;

    background: linear-gradient(45deg, #4099ff, #eeff00);
    height: 100%;
    width: 100%;
    padding: 43px;
    z-index: -2;
    border-radius: 43px;
}
.boxGame #btn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    background: linear-gradient(to right, #4099ff, #eeff00);
    color: black;
    border: none;
    cursor: pointer;
    padding: 20px 40px;
    border-radius: 15px;
    font-size: 20px;
    z-index: 1;
}
.boxGame #btn::before{
    content: '';
    position: absolute;
    
    background: linear-gradient(to right, #4099ff, #eeff00);
    height: 100%;
    width: 100%;
    border-radius: 15px;
    z-index: -1;
    transition: .3s;
}
.boxGame #btn:hover::before{
    filter: blur(6px);
}
.boxPlayers{
    display: flex;

    gap: 15px;
}
span:nth-child(1){
    align-items: start;
}
span:nth-child(2){
    align-items: end;
}
.boxPlayers span{
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 100px;
}
.nome{
    color: #4099ff;
    font-size: 20px;
}
.resultado{
    color: white;
    font-size: 26px;
}
.res1{
    cursor: pointer;
}
.boxOptions{
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: absolute;

    background: white;
    height: 100px;
    width: 60px;
    left: -60px;
}
.boxOptions button{
    background: none;
    cursor: pointer;
    border: none;
    width: 100%;
    padding: 2px;
    font-size: 18px;
    transition: .2s;
}
.boxOptions button:hover{
    background: rgb(219, 219, 219);
}
#cardResultado{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;

    top: -93px;
    border: solid 3px var(--colorTxtCard);
    background: var(--fundoCard);
    color: var(--colorTxtCard);
    padding: 20px;
    height: 70px;
    border-radius: 10px;
}
.perdeu{
    --fundoCard: rgb(255, 152, 152);
    --colorTxtCard: rgb(128, 0, 0);
}
.empate{
    --fundoCard: rgb(147, 147, 147);
    --colorTxtCard: rgb(30, 30, 30);
}
.visible{
    display: flex;
}
#listHistorico{
    overflow-y: auto;
    width: 100%;
    height: 100%;
}
.boxHistorico .apagarTd{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    color: black;
    border: none;
    cursor: pointer;
    background: linear-gradient(to right, #4099ff, #eeff00);
    padding: 20px;
    border-radius: 10px;
    bottom: -80px;
}
.boxHistorico .apagarTd::before{
    content: '';
    position: absolute;
    
    background: linear-gradient(to right, #4099ff, #eeff00);
    height: 100%;
    width: 100%;
    border-radius: 15px;
    z-index: -1;
    transition: .3s;
}
.boxHistorico .apagarTd:hover::before{
    filter: blur(6px);
}