.container{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 88vh;
    width: 100vw;
}

.container div{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    background: #2b2b2b;
    border-radius: 15px;
    padding: 37px;
}
.container div:after{
    content: '';
    position: absolute;

    background: linear-gradient(-45deg, #eeff00 0%, #4099ff 100%);
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transition: ease-in-out .6s;
    filter: blur(15px);
    z-index: -1;
}
.container div:before{
    content: '';
    position: absolute;

    background: linear-gradient(-45deg, #eeff00 0%, #4099ff 100%);
    width: 100%;
    height: 100%;
    padding: 4px;
    border-radius: 20px;
    transition: ease-in-out .6s;
    z-index: -1;
}
.container div:hover:before, .container div:hover:after{
    transform: rotateZ(180deg);
}
.container form{
    display: flex;
    align-items: center;
    flex-direction: column;

    box-shadow: inset 0 0 20px #000000;
    border-bottom: solid 3px gray;
    background: #1a1a1a;
    padding: 16px 20px;
    border-radius: 8px;
    gap: 10px;
}
.container h1{
    color: #4099ff;
}
.container input{
    border-bottom: solid 3px gray;
    background: none;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
}
.container button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    color: black;
    border: none;
    cursor: pointer;
    background: linear-gradient(to right, #4099ff, #eeff00);
    border-radius: 10px;
    padding: 12px;
    width: 100%;
    z-index: 1;
}
.container button:before{
    content: '';
    position: absolute;

    background: linear-gradient(to right, #4099ff, #eeff00);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: ease-in-out .2s;
    z-index: -1;
}
.container button:hover:before{
    filter: blur(7px);
}
.container button:active{
    transition: .2s;
    transform: scale(0.9);
}
.container p{
    font-size: 14px;
}
.cads{
    position: relative;

    color: #4099ff;
}
.cads:before{
    content: '';
    position: absolute;

    background: #4099ff;
    width: 0;
    height: 2px;
    bottom: 1px;
    transition: .4s;
}
.container a:hover:before{
    width: 100%;
}
.esqsen{
    position: relative;

    color: #eeff00;
    font-size: 14px;
}
.esqsen:before{
    content: '';
    position: absolute;

    background: #eeff00;
    width: 0;
    height: 2px;
    bottom: 1px;
    transition: .4s;
}