.container{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 88vh;
}
.boxBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    cursor: pointer;
    background: blue;
    border-radius: 50rem;
    padding: 20px;
}
.boxBtn span{
    pointer-events: none;
}
.boxBtn button{
    position: absolute;

    background: red;
    border: none;
    border-radius: 50rem;
    width: 50px;
    height: 50px;
    transition: .3s;
    z-index: -1;
}