.container{
    display: flex;
    justify-content: start;
    align-items: center;

    height: 88vh;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    background: white;
    overflow-x: hidden;
    width: 44px;
    height: 100%;
    padding: 10px 0;
    transition: .3s;
}
.width181{
    width: 181px;
}
.link{
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding: 12px;
    width: 100%;
    gap: 15px;
    transition: .3s;
}
.JCstart{
    justify-content: start;
}
.menu a i{
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 20px;
    width: 20px;
    height: 20px;
}
.menu a *{
    color: black;
}
.menu a:hover, .linkBar:hover{
    background: rgb(174, 255, 248);
    transition: .3s;
}
.linkBar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    cursor: pointer;
    gap: 5px;
    height: 44px;
}
.bar{
    background: black;
    
    height: 3px;
    width: 20px;
    border-radius: 50rem;
}
.bar1Active{
    translate: 0 4px 0;
    rotate: -45deg;
    transition: .8s;
}
.bar2Active{
    display: none;
}
.bar3Active{
    translate: 0 -4px 0;
    rotate: 45deg;
    transition: .8s;
}
.boxItems1{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
    width: 100%;
    height: 50%;
}
.boxLinks{
    display: flex;
    flex-direction: column;
    
    gap: 3px;
}
.boxItems2{
    display: flex;
    align-items: end;
    
    width: 100%;
    height: 50%;
}
.hide{
    display: none;
}
.show{
    display: flex;
}
p{
    display: none;
    justify-content: center;
    align-items: center;

    height: 20px;
}