.container{
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 88vh;
    gap: 30px;
}
.boxRoleta{
    display: flex;
    justify-content: center;
    position: relative;

    padding-top: 20px;
    padding-bottom: 70px;
}
.seta{
    position: absolute;

    width: 0;
    height: 0;
    top: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 45px solid rgb(68, 68, 68);
    z-index: 2;
}
.camada{
    position: absolute;

    cursor: not-allowed;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.base{
    position: absolute;
    
    bottom: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 195px solid rgb(68, 68, 68);
    z-index: -1;
}
.container img{
    cursor: pointer;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 0 20px black;
    transition: 3s;
}
@keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    background: gray;
    width: 100px;
    height: 40px;
}
.btn button{
    position: absolute;
    
    background: red;
    border: none;
    cursor: pointer;
    width: 80px;
    height: 30px;
    top: -30px;
    transition: .1s;
}
.btn button:active{
    height: 15px;
    top: -15px;
}
.btn p{
    color: black;
}
.btn div{
    position: absolute;
    
    cursor: not-allowed;
    height: 30px;
    width: 80px;
    top: -30px;
    z-index: -1;
}