@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    color: var(--text-color);
    font-weight: 700;
    padding: 0;
    margin: 0;
    outline: 0;
}
body{
    background: var(--background-color);
    background-attachment: fixed;
    height: 100vh;
    
    --gradienteBtn: linear-gradient(to bottom, rgb(0, 34, 255), rgb(0, 255, 255));
    --background-color: linear-gradient(to bottom, #242424, #000a0f);
    --text-color: #ffffff;
    --alt-text-color: #000000;
    
    --sombra-bola-detalhes: 0 0 50px #0000006e;
}
.modoClaro{
    --gradienteBtn: linear-gradient(to bottom, rgb(255, 67, 99), orange, yellow);
    --background-color: linear-gradient(to bottom, #c7c7c7, #001d2c);
    --text-color: #262626;
    --alt-text-color: #ffffff;
    
    --sombra-bola-detalhes: 0 0 50px #0000006e;
}
body::-webkit-scrollbar {
    width: 12px;
}
body::-webkit-scrollbar-track {
    background: rgb(34, 34, 34);
}
body::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 50rem;
}
body::-webkit-scrollbar-thumb:hover {
    background: rgb(194, 194, 194);
}
body::-webkit-scrollbar-corner{
    background: rgb(34, 34, 34);
}

/* ------------- Header ------------- */

.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;

    top: 0;
    width: 100vw;
    height: 12vh;
    padding: 0 20px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
}
.header img{
    width: 65px;
    height: 65px;   
}
.header img:hover{
    transition: ease-in-out .2s;
    opacity: 0.8;
}
.header img:active{
    scale: 0.85;
}
.header .item{
    display: flex;
    align-items: center;
    justify-self: center;

    width: auto;
    height: 65px;
    font-size: 32px;
}
.header .fa-gear{
    color: var(--text-color);
    transition: 0.3s;
}
.header .fa-gear:hover{
    color: #00aaff;
}
.header .fa-gear:active{
    scale: 0.9;
}
.headerSpace{width: 100vw;height: 12vh;}

/* ------------- Header ------------- */


/* ------------- Detalhes ------------- */

.detalhes{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    top: 0;
    z-index: -1;
}
.detalhes .bola{
    position: absolute;
    box-shadow: var(--sombra-bola-detalhes);
    border-radius: 50rem;
}
.detalhes .bola1{
    width: 120vh;
    height: 120vh;
    right: -50vh;
    z-index: 3;        
}
.detalhes .bola2{
    width: 145vh;
    height: 145vh;
    right: -50vh;
    z-index: 2;
}
.detalhes .bola3{
    width: 160vh;
    height: 160vh;
    right: -50vh;
    z-index: 1;
}
.detalhes .bola4{
    width: 160vh;
    height: 160vh;
    left: -80vh;
    top: -130vh;
    z-index: 1;
}
.detalhes .bola5{
    width: 70vh;
    height: 70vh;
    left: -30vh;
    bottom: -40vh;
    z-index: 1;
}

/* ------------- Detalhes ------------- */


/* ------------- Home ------------- */

.containerCards{
    display: flex;
    align-content: start;
    justify-content: center;
    flex-wrap: wrap;
    
    width: 100vw;
    height: 88vh;
    gap: 20px;
    padding: 20px;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

    box-shadow: 0 0 10px black;
    background: var(--text-color);
    border-radius: 10px;
    padding: 15px;
    width: 300px;
}
.card:before{
    content: '';
    position: absolute;
    
    background: linear-gradient(-45deg, #eeff00, #4099ff);
    width: 100%;
    height: 100%;
    border-radius: 15px;
    z-index: -1;
}
.card:hover:before{
    transition: ease-in-out 0.3s;
    filter: blur(10px);
}
.card:hover a{
    transition: ease-in-out 0.3s;
    color: #4099ff;
}
.card:hover a::before{
    background: #4099ff;
}
.card a, .card p, .card i{
    color: var(--alt-text-color);
    z-index: 2;
}
.card a{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    width: auto;
    font-size: 28px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card a::before{
    content: '';
    position: absolute;

    background: black;
    bottom: 5px;
    width: 0;
    height: 4px;
    z-index: 1;
    transition: 0.3s;
}
.card a:hover::before{
    width: 100%;
}
.card p{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    font-size: 18px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    gap: 10px;
}

/* ------------- Home ------------- */


/* ------------- Erro404 ------------- */

.box404{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 88vh;
}
.e404{
    width: 40%;
    height: auto;
}

/* ------------- Erro404 ------------- */


/* ------------- Configurações ------------- */

.containerConf{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 88vh;
}
.containerConf .boxBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    background: linear-gradient(to bottom, rgb(169, 169, 169) 60%, rgb(255, 255, 255));
    padding: 2px;
    border-radius: 50rem;
}
.containerConf .boxBtn::before{
    content: '';
    position: absolute;
    
    background: white;
    height: 100%;
    width: 100%;
    padding: 30px;
    border-radius: 50rem;
    z-index: -1;
}
.containerConf #btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
    background: var(--gradienteBtn);
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50rem;
    width: 100px;
}
.containerConf #moon{
    font-size: 30px;
    color: rgb(150, 255, 243);
}
.containerConf #sun{
    font-size: 30px;
    color: rgb(255, 244, 150);
}
.containerConf .boxBall{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    background: linear-gradient(to bottom, rgb(255, 255, 255) 60%, rgb(169, 169, 169));
    padding: 2px;
    border-radius: 50rem;
    left: 8px;
    transition: .1s;
}
.containerConf p{
    background: rgb(255, 255, 255);
    height: 35px;
    width: 35px;
    border-radius: 50rem;
}
.ballActive{
    transform: translateX(50px);
}

/* ------------- Configurações ------------- */