.container{
    display: grid;
    /*justify-content: space-between;
    align-content: space-between;*/
    place-content: space-between;

    /*grid-template-columns:repeat(3, 1fr);
    grid-template-rows: minmax(100px, 300px) 1fr 300px;*/
    /*row-gap: 20px;
    column-gap: 20px;*/
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    gap: 20px;
    height: 88vh;
}
.container .item{
    color: black;
    background: white;
    padding: 20px;
}