.container{
    display: grid;

    grid-template-areas: 
        'header header'
        'aside article'
        'section section'
        'footer footer'
    ;
    height: 88vh;
}
.container *{
    color: black;
}

header{
    grid-area: header;
    background: rgb(67, 67, 255);
}
aside{
    grid-area: aside;
    background: rgb(255, 255, 81);
}
article{
    grid-area: article;
    background: rgb(92, 255, 92);
}
section{
    grid-area: section;
    background: rgb(255, 82, 82);
}
footer{
    grid-area: footer;
    background: rgb(255, 195, 83);
}